@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    margin-top: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f10b; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00000024; /* Color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle on hover */
}